@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --color-primary: #43bccd;
    --color-secondary: #ffffff;
    --color-3: #f9f1f3;

    /* Text Colors */
    --text-primary: #222222;
    --text-secondary: #555555;

    /* Button Colors */
    --button-1: #c1e7ec80;
    --button-2: #ea35461a;
    --button-2-hover: #ea3546;
}

body {
    font-family: 'Inter', sans-serif;
}

/* Calender User Start
---------------------------------------------------------------- */

.react-datepicker {
    width: 40% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.react-datepicker__triangle {
    display: none !important;
}

.react-datepicker__month {
    width: 100% !important;
}

.react-datepicker__current-month {
    font-size: 1.5rem !important;
    font-family: 'Inter' !important;
    font-style: normal !important;
    font-weight: 600 !important;
}

.react-datepicker {
    background: none !important;
    border: none !important;
}

.react-datepicker__header {
    background: none !important;
    border-bottom: none !important;
}

.react-datepicker__week {
    font-size: 2rem !important;
}

.react-datepicker__day-names {
    font-size: 2rem !important;
    color: var(--text-secondary) !important;
    font-family: 'Inter' !important;
    font-style: normal !important;
    font-weight: 500 !important;
}

.react-datepicker__month-container {
    width: 500px !important;
    display: flex !important;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-evenly;
}

.react-datepicker__day-names,
.react-datepicker__week {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.react-datepicker__week {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    color: #a0a0a0 !important;
}

.react-datepicker__day--highlighted,
.react-datepicker__month-text--highlighted,
.react-datepicker__quarter-text--highlighted,
.react-datepicker__year-text--highlighted {
    background-color: white !important;
    color: var(--color-primary) !important;
}

/* Calender User Start
---------------------------------------------------------------- */


/* 404 Error Page Start
---------------------------------------------------------------- */

.page404-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page404-heading{
    font-size: 10rem;
    font-weight: 700;
    transition: 0.2s ease-in-out;
}

.page404-heading:hover{
    scale: 105%;
    color: var(--button-2-hover);
}

.error404-gif{
    width: 100%;
    height: auto;
}

.page404-desctext{
    font-size: 2rem;
    padding: 1rem 5rem 1rem 5rem;
    font-weight: 600;
}

.page404-desctext-details{
    font-size: 2rem;
    padding: 1rem 10rem;
    max-width: 80rem;
}

.page404-goback-btn{
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--color-secondary);
    background-color: rgb(41, 202, 41);
    padding: 1rem 2rem;
    border-radius: 2rem;
    margin: 2rem 10rem;
    transition: 0.2s ease-in-out;
}

.page404-goback-btn:hover{
    background-color: rgb(78, 153, 78);
    scale: 105%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

/* 404 Error Page End
---------------------------------------------------------------- */

/* Login Page Start
---------------------------------------------------------------- */
/* .container {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    overflow-x: hidden;
} */

.sign-in-container {
    display: flex;
    height: 90vh;
    width: 100vw;
}

.login-div1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.login-div1-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    background-color: var(--color-primary);
    border-radius: 1rem;
    padding: 8rem 10rem 10rem 8rem;
}

.logo-container {
    width: 18rem;
}

.login-head-container {
    font-family: 'Sora', sans-serif;
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 60%;
    color: var(--color-secondary);
    margin-top: 5rem;
}

.login-image-container img {
    border-radius: 1rem;
    width: 35rem;
    margin-top: 2rem;
}

.login-caption-div {
    font-family: 'Sora', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 60%;
    color: var(--color-secondary);
    margin-top: 2rem;
}

.login-div2 {
    width: 50%;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding-left: 10rem;
}

.login-form-container {
    display: flex;
    flex-direction: column;
}

.login-entries-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.login-entries-label {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-secondary);
    margin-top: 2rem;
}

.login-entries-div dialog {
    border: none !important;
    display: block;
    align-items: center;
}

.login-error {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.5rem;
    color: var(--button-2-hover);
    align-self: center;
}

dialog p {
    font-size: 2rem;
}

.login-error-div {
    width: 500px;
    height: 20px;
    background-color: rebeccapurple;
    display: flex;
}

.login-entries-div input {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem;
    color: var(--text-primary);
    background-color: var(--color-secondary);
    border: 0.2rem solid #dcdcdc;
    width: 30rem;
    height: 4rem;
    border-radius: 1rem;
    outline: none;
    margin: 0.5rem 0 0 0;
}

.login-entries-div input:focus {
    background-color: var(--button-1);
    color: var(--color-primary);
    border: 0.2rem solid var(--color-primary);
}

.login-create-btn-div button {
    margin-top: 2.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-secondary);
    width: 30rem;
    height: 4rem;
    background-color: var(--color-primary);
    border-radius: 1rem;
    border: none;
    outline: none;
    box-shadow: 0px 15px 20px #c1e7ec;
    transition: 0.2s ease-in-out;
}

.login-create-btn-div button:hover {
    border: 0.2rem solid var(--color-primary);
    background-color: var(--button-1);
    color: var(--color-primary);
    cursor: pointer;
}

.signin-actions-section {
    display: flex;
    flex-direction: column;
}

.existing-user-link {
    font-size: 1.5rem;
    font-weight: 600;
    color: #9e9e9e;
    text-decoration: none;
    align-self: center;
    justify-self: center;
    margin-top: 3rem;
}

.existing-user-link:hover {
    color: var(--color-primary);
}

.new-user-link {
    margin-top: 0.5rem;
}

.login-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.login-footer-border {
    border: 0.1rem solid var(--text-secondary);
    width: 80%;
}

.login-footer-container {
    display: flex;
    width: 80%;
    margin-top: 2rem;
    padding: 0 2rem;
    margin-bottom: 5rem;
}

.login-footer-sec1 {
    display: flex;
    width: 90%;
    font-size: 2rem;
    color: var(--text-primary);
}

.login-footer-sec1 address {
    font-style: normal;
}

.login-footer-sec2 {
    display: flex;
    width: 10%;
    justify-content: space-between;
    list-style-type: none;
}

.login-footer-sec2 svg:hover {
    filter: invert(87%) sepia(7%) saturate(6931%) hue-rotate(152deg)
        brightness(86%) contrast(85%);
    cursor: pointer;
}

/* Login Page End
---------------------------------------------------------------- */

/* All User Page Start
---------------------------------------------------------------- */

.user-nav-header {
    width: 100%;
    height: 15vh;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8rem;
    position: sticky;
    top: 0;
    background-color: var(--color-secondary);
}

.user-nav-logo-div {
    width: 10%;
    justify-self: flex-start;
}

.user-nav {
    width: 90%;
    display: flex;
    font-size: 3rem;
}

.user-nav-entries {
    width: 40%;
    margin: 0 28rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
}

.user-nav-entries li a {
    text-decoration: none;
    color: var(--text-primary);
    font-size: 1.8rem;
    font-weight: 500;
}

.user-nav-entries li a:hover {
    color: #f86624;
}

#signin-btn-user {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--color-primary);
    background-color: #43bccd1a;
    border: 0.2rem solid var(--color-primary);
    border-radius: 2rem;
    padding: 1.5rem 5rem;
    transition: 0.2s ease-in-out;
}

#signin-btn-user:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    filter: drop-shadow(0px 15px 40px #cceff4);
}

.user-allroom-main {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.room-category {
    width: 100%;
    height: 40%;
    padding: 0 8rem;
    display: flex;
    margin-top: 2rem;
}

.room-img-div {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.room-details-div {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
}

.room-rating {
    display: flex;
    align-items: baseline;
}

.rating-star {
    color: var(--color-primary);
    font-size: 3rem;
}

.rating-point {
    font-size: 2rem;
    font-weight: 500;
}

.rating-user-count {
    font-size: 1.3rem;
}

.room-category-name {
    font-size: 4rem;
    margin: 1rem 0;
}

.reeom-cat-des {
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.room-features-div {
    width: 100%;
    display: flex;
}

.room-features {
    display: flex;
    width: 50%;
}

.room-features ul {
    font-size: 2.5rem;
    list-style-type: none;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    color: var(--text-secondary);
}

.learn-more-btn-div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.learn-more-btn {
    font-size: 1.8rem;
    background: none;
    border: none;
    color: var(--color-primary);
    font-weight: 500;
}

.learn-more-btn:hover {
    cursor: pointer;
    color: var(--button-2-hover);
}

.room-price-div {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.room-price-desc {
    font-size: 1.8rem;
    color: var(--text-secondary);
    font-weight: 600;
}

.room-price {
    font-size: 2.5rem;
    color: var(--button-2-hover);
    font-weight: 700;
}

.book-now-btn {
    font-size: 1.8rem;
    color: var(--button-2-hover);
    background-color: #ea35461a;
    border: 0.3rem solid var(--button-2-hover);
    border-radius: 2rem;
    font-weight: 600;
    padding: 1.5rem 4rem;
    transition: 0.2s ease-in-out;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.book-now-btn:hover {
    cursor: pointer;
    filter: drop-shadow(0px 15px 40px #f2a8af);
    background-color: var(--button-2-hover);
    color: var(--color-secondary);
}

.room-cat-border {
    border: 0.1rem solid #5555554d;
    width: 90%;
    margin: 3rem 0;
}

/* All User Page End
---------------------------------------------------------------- */

/* One Room Page Start
---------------------------------------------------------------- */

.singleroom-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0 25rem;
}

.single-room-name-rating {
    display: flex;
}

.singleroom-name {
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-primary);
    margin-top: 7rem;
}

.singleroom-img {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 2rem 0;
}

.singleroom-image-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
}

.singleroom-thumb-container {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
}

.singleroom-thumb1,
.singleroom-thumb2 {
    width: 50%;
    max-width: 150px;
    height: auto;
}

.singleroom-info-div {
    width: 100%;
    display: flex;
}

.singleroom-desc-div {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.singleroom-keyspec {
    width: 100%;
    margin: 2rem 0;
}

.singleroom-keyspec-list {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    font-size: 3rem;
    font-weight: 500;
    color: var(--text-secondary);
}

.singleroom-keyspec hr,
.singleroom-desc hr,
.user-calander-hr {
    margin-top: 2rem;
    border: 0.1rem solid #5555554d;
}

.singleroom-desc {
    width: 100%;
    font-size: 3rem;
}

.singleroom-rate-div {
    width: 30%;
    display: flex;
    justify-content: center;
}

.singleroom-rate-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0.2rem solid #5555554d;
    border-radius: 1rem;
    padding: 3rem;
    height: 35%;
}

.singleroom-booknow-btn {
    margin: 2rem 0 0 0;
}

.singleroom-calender-container {
    display: flex;
    flex-direction: column;
}

.singleroom-calender-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.singleroom-calender-details h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-primary);
}

.singleroom-calender-details p {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-secondary);
}

.user-calender-div {
    margin: 2rem 0;
}

.whatitoffers-div,
.singleroom-reviews-div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.whatitoffers-heading,
.singleroom-reviews-heading {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-primary);
    margin: 2rem 0;
}

.whatitoffers-container {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.whatitoffers-items {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 1.5rem 0;
}

.whatitoffers-hr {
    margin-top: 2rem;
    border: 0.1rem solid #5555554d;
    width: 100%;
}

.singleroom-reviews-heading {
    margin-bottom: 0;
}

.singleroom-review-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 3rem;
}

.singleroom-review-container {
    width: 45%;
    padding: 1rem;
    transition: 0.2s ease-in-out;
}

.singleroom-review-container:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    scale: 105%;
}

.singleroom-review-person-data {
    width: 50%;
    display: flex;
    align-items: center;
}

.reviewer-img-container {
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
}

.reviewer-img {
    width: 100%;
    height: 100%;
}

.reviewer-name-time-div {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}

.reviewer-name-time-div h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-primary);
}

.reviewer-name-time-div time {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--text-secondary);
}

.singleroom-review-text {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-secondary);
    margin-top: 2rem;
}

.showall-reviews-btn {
    font-size: 1.5rem;
    font-weight: 700;
    background: none;
    border: none;
    align-self: flex-start;
}

.showall-reviews-btn:hover {
    cursor: pointer;
    color: var(--button-2-hover);
}

.map-div iframe {
    border: none;
    width: 100%;
    height: 300px;
    margin: 3rem 0;
}

.things-to-know-container {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 1rem;
}

.houserules-text {
    font-size: 1.5rem;
    font-weight: 700;
}

.things-toknow-items {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.terms-container {
    display: flex;
    margin-bottom: 5rem;
}

.house-rules-sec {
    width: 30%;
}

/* One Room Page End
---------------------------------------------------------------- */


